**/__pycache__
db.sqlite3
# **/migrations
*.pkl
backend/absenteeism/models/dynamic_absenteeism_model.pkl
web.config
logs/error.log
logs/info.log
logs/*
exports/*
csv_files/Planned_Leaves.csv
csv_files/attendance.csv
.env

# IDE and Virtual Environments
.vscode/
.venv/
pyrightconfig.json
.github/workflows/