# Auto detect text files and perform LF normalization
* text=auto

# Define binary files to prevent normalization
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.xlsx binary
*.xls binary
*.pdf binary
*.pkl binary
