amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.1
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dill==0.4.0
Django==5.1.4
django-cors-headers==4.6.0
django-extensions==3.2.3
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
et-xmlfile==2.0.0
idna==3.10
joblib==1.4.2
kombu==5.5.0
mysqlclient==2.2.6
numpy==1.26.4
networkx==3.3
openpyxl==3.1.0
pandas==2.2.1
prompt-toolkit==3.0.47
psycopg2-binary==2.9.9
python-dateutil==2.8.2
pytz==2024.1
redis==5.0.1
requests==2.32.3
scikit-learn==1.4.2
scipy==1.12.0
sendgrid==6.12.5
six==1.16.0
sqlparse==0.4.4
threadpoolctl==3.4.0
tzdata==2025.1
urllib3==2.2.0
vine==5.1.0
wcwidth==0.2.13
gunicorn==23.0.0
drf-spectacular==0.27.2
boto3
django-storages
django-allauth
dj-rest-auth
ruff
mypy
pytest
pytest-django
pytest-cov
