<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello,</p>
    <p>We hope this email finds you well.</p>
    <p>As per your request, the CSV file is now ready for download. Please find the file attached to this email. If you encounter any issues or require further assistance, feel free to reach out at <a href="mailto:itsupport@laguna-clothing.com">itsupport@laguna-clothing.com</a>.</p>
    <p>Thank you for your time, and please let us know if we can assist you further.</p>
    <p>Best regards,</p>
    <p>IT Team</p>
    <p><a href="https://www.laguna-clothing.com">https://www.laguna-clothing.com</a></p>
</body>
</html>
